body{
    text-align: center;
    background-color: rgb(198, 198, 247);
}

#add{
    border: 0;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 35px;
}

input{
    height: 30px;
    width: 300px;
}

.remove{
    margin-top: 13px;
    background-color: #f2f205;
    float: right;
    clear: both;
    border-radius: 10px;
    
}

#wrapper{
    border-radius: 30px;
    width: 700px;
    height: 430px;
    background-color: #000365;
    color: white;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 380px;
    padding: 30px 30px 65px 30px;
    
}

ul{
    text-align: left;
    line-height: 35px;
    
}

h1{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 60px;
}